:root {
  --blue: #1993d6;
  --orange: #e96036;
  --black:#000000;
  --white:#ffffff;
}

body {
  scroll-behavior: smooth;
  /* padding-top: 100px; */
  font-family: "Poppins", sans-serif;
  background-image: url("../img/BG1.svg");
  background-repeat: repeat;
  background-size: 100%;
  background-position: top;
  background-color: rgba(255, 255, 255, 0);
  background-blend-mode: overlay;
}

/*** Spinner Start ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.8s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.spinner-border, .spinner-grow {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
}

/*** Spinner End ***/
/* navbar */
.navbar {
  /* font-family: 'Noto Serif', serif; */
  transition: all 0.5s ease-in-out;
  padding: 0;
}
.navbar .navbar-brand {
  font-size: calc(1.2rem + 1vw) !important;
}
.navbar .navbar-brand .logo {
  width: 80px;
}
.navbar .navbar-brand .logo-text {
  line-height: 85%;
  font-family: "Noto Serif", serif;
  font-weight: bold;
}
.navbar .navbar-nav .nav-item {
  padding-left: 8px;
  padding-right: 8px;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  color: var(--black);
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--orange);
}
.navbar .navbar-nav .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--orange);
  transition: width 0.3s;
}
.navbar .navbar-nav .nav-item::after:hover {
  width: 100%;
  transition: width 0.3s;
}
.navbar.scrolled {
  background: #ffffff;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

.btn-outline-orange {
  background-color: white;
  color: var(--orange);
  border: 1px solid var(--orange);
  transition: all 0.5s ease-in-out;
}
.btn-outline-orange:hover {
  /* background-color: rgb(226, 226, 226); */
  background: #fff3e7;
  background: linear-gradient(0deg, #fff5e7 0%, #fcebd8 100%);
  color: var(--orange);
  border: 1px solid var(--orange);
}

.btn-outline-blue {
  background-color: rgba(255, 255, 255, 0.158);
  color: var(--blue);
  border: 1px solid var(--blue);
  transition: all 0.5s ease-in-out;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.btn-outline-blue:hover {
  /* background-color: rgb(226, 226, 226); */
  /* background: linear-gradient(0deg, #e0f4ff 0%, #c9ecff 100%); */
  background: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
  transition: all 0.5s ease-in-out;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.btn-blue:hover {
  /* background-color: rgb(226, 226, 226); */
  /* background: linear-gradient(0deg, #e0f4ff 0%, #c9ecff 100%); */
  background: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
}

.hero {
  background-image: url("../img/bg-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.438);
  background-blend-mode: multiply;
}
.hero .back-img {
  background-image: url("../img/me.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  filter: grayscale(100%);
}
.hero .bg-hero-title {
  background: #d0f7ec;
}
.hero .blink {
  animation: blinker 1s linear infinite;
  transition: all 0.2s ease-in-out;
  background-color: var(--white);
  padding: 0px 1px;
  /* border-radius: 5px; */
  color: var(--blue);
  margin-left: 5px;
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hr-line {
  border: 1px solid rgb(0, 0, 0);
  margin: 2px;
  opacity: 1;
}

.text-blue {
  color: var(--blue);
}

.title {
  font-family: "Noto Serif", serif !important;
  font-size: calc(1.2rem + 1.5vw);
}

.fstyle-1 {
  font-family: "Noto Serif", serif;
}

.bg-card {
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
}

.fs-small {
  font-size: 0.8rem;
}

.bg-skills {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  /* backdrop-filter: blur(10px); */
  color: white;
}
.bg-skills h4 {
  font-size: large;
}
@media screen and (max-width: 600px) {
  .bg-skills h4 {
    font-size: 1rem;
  }
}
.bg-skills:hover {
  background-color: var(--orange);
  transition: all 0.5s ease-in-out;
}
.bg-skills .icon-skill {
  width: 80px;
  height: 80px;
}

.portfolio .bg-portfolio {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.card-imgs {
  width: 100%;
  height: 100px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
  object-fit: contain;
}

/* black theme */
[data-bs-theme=dark] .bg-white {
  background-color: var(--black) !important;
}
[data-bs-theme=dark] .text-black {
  color: var(--white) !important;
}
[data-bs-theme=dark] .hr-line {
  border: 1px solid var(--white);
  margin: 2px;
  opacity: 1;
}
[data-bs-theme=dark] .navbar .nav-item .nav-link {
  color: var(--white);
}

.footer {
  background-color: var(--black);
  color: var(--white);
}
.footer .logo {
  width: 100px;
}
.footer .logo-text {
  line-height: 85%;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 30px;
}
.footer h5::after {
  content: "";
  display: block;
  width: 50px;
  background-color: var(--white);
  height: 2px;
  border-radius: 50px;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: small;
}
.footer ul li a:hover {
  color: var(--blue);
}
.footer .social a {
  font-size: 20px;
  text-decoration: none;
  color: var(--white);
}
.footer .social a:hover {
  color: var(--blue);
}
.footer .copyrights {
  border-top: 1px solid var(--white);
  background-color: var(--blacks);
}
.footer .copyrights a {
  text-decoration: none;
}

#backToTopBtn {
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  border-radius: 100%;
  opacity: 0;
}
#backToTopBtn:hover {
  background-color: var(--orange);
  transition: all 0.5s ease-in-out;
}
#backToTopBtn i {
  font-size: 20px;
  color: white;
}

.bg-modal {
  background-image: url("../img/10515255.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#hero .carousel-item {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* #hero .carousel-item::before {
  content: "";
  background-color: rgba(13, 30, 45, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
} */
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.589) 26%, rgba(0, 0, 0, 0.308) 76%, rgba(0, 0, 0, 0) 100%);
}

#hero .carousel-content {
  text-align: left;
}

@media (max-width: 992px) {
  #hero,
  #hero .carousel-item {
    height: 100%;
  }
  /* #hero .carousel-content.container {
    padding: 0 50px;
  } */
}
#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

#hero p {
  /* width: 80%; */
  animation-delay: 0.4s;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-get-started {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  animation-delay: 0.8s;
  border: 0;
  background: var(--blue2);
}

#hero .btn-get-started:hover {
  background: #1c5c93;
}

.carousel-inner video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: start center;
     object-position: start center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
  #hero .carousel-container {
    position: static;
  }
}
@media (max-height: 500px) {
  #hero,
  #hero .carousel-item {
    height: 100vh;
  }
}
@media (min-width: 1024px) {
  #hero p {
    /* width: 60%; */
  }
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}/*# sourceMappingURL=style.css.map */